.inputButtons{
    width: 240px;
    /* height: 80px; */
    border: solid lightcoral;
    display: inline-block;
    display: relative;
    
}
.inputTextBox{
    width: 160px;
    height: 40px;
    margin: 0px;
    border: solid lightcoral;
    /* display: inline-block; */
    font-size: x-small;
    float: right;
}
.leftButton{
display: inline-block;
left: 0px;
}
.rightButton{
    display: inline-block;
    /* left: 160px */
}
.upButton{
    display: inline-block;
    left: 42px;

    color: blue;
}
.downButton{
    display: inline-block;
    left: 33px;
}
.actionButton{
    display: inline-block;
}
.btnRow{
margin: 0px;
}
.btn{
    /* this will be button stles, basic... */
    height: 30px;
    /* color: red; */
    position: relative;
    
}