.inputButtons{
    /* width: 240px; */
    /* height: 80px; */
    border: solid lightcoral;
    display: inline-block;
    display: relative;
    
}
.inputTextBox{
    width: 160px;
    height: 40px;
    margin: 0px;
    border: solid lightcoral;
    /* display: inline-block; */
    font-size: x-small;
    float: right;
}
.leftButton{
/* position: absolute; */
display: inline-block;
left: 0px;
}
.rightButton{
    /* position: absolute; */
    display: inline-block;
    right: 60px
}
.upButton{
    position: absolute;
    /* display: inline-block; */
    left: 60px;
    top: 0px;
}
.downButton{
    /* position: absolute; */
    display: inline-block;
}
.actionButton{
    /* position: absolute; */
    display: inline-block;
}
.btnRow{
margin: 0px;
}
.btn{
    /* this will be button stles, basic... */
    height: 30px;
    color: red;
    
}